<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
    <ion-title>Email Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: center">
          <img style="max-width: 80%; margin-bottom: 45px;" src="assets/img/logo.png" alt="">
        </div>
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input type="email" [(ngModel)]="account.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" [(ngModel)]="account.password"></ion-input>
        </ion-item>
        <ion-button (click)="signIn()" color="primary" expand="full">Sign In</ion-button>
        <div style="text-align: center"><ion-text color="dark">Create an account</ion-text></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>