ion-avatar img {
    border-radius: 5px;
}
ion-thumbnail img {
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    --size: 38px;
}
ion-thumbnail {
    --padding-start: 1px;
}
ion-item {
    --padding-start: 1px;
    --padding-top: 0px;
    --padding-bottom: 0px;
}
ion-content {
    --background: #fff;
}