<ion-app>
  <ion-menu disabled="false" slot="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle>
          <ion-item routerLink="/start/tabs/discover">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Discover</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/start/tabs/profile">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>My Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logout()" button>
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>