<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
  <!-- Segment in a toolbar -->
  <ion-toolbar>
    <ion-searchbar color="primary"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-slide" *ngIf="officials">
    <div class="whitebg" style="padding: 5px 0 5px 5px">
      <ion-slides [options]="slideOpts2">
        <ion-slide *ngFor="let official of officials" [routerLink]="['/', 'start', 'tabs', 'discover', official.id]">
          <div class="inner-wrap">
            <img src="assets/img/cover.jpg" />
            <!--
            <div class="inner-card">
              <span>{{official.name}}</span>
            </div>
            -->
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div> <!-- End top big slide -->


  <div class="mid-slide" *ngIf="officials">
    <ion-list-header mode="ios">
      <ion-label>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              Popular
            </ion-col>
            <ion-col class="more" no-padding>
              <ion-text [routerLink]="['/officials']" color="danger">More</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-list-header>

    <div class="whitebg" style="padding: 5px 0 5px 5px">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let official of officials" [routerLink]="['/', 'start', 'tabs', 'discover', official.id]">
          <img [src]="official.thumb" />
        </ion-slide>
      </ion-slides>
    </div>
  </div> <!-- End officials grid-->

  <div class="bottom-slide" *ngIf="officials">
    <ion-list-header mode="ios">
      <ion-label>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              Latest News
            </ion-col>
            <ion-col class="more" no-padding>
              <ion-text [routerLink]="['/start/tabs/profile']" color="danger">More</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-list-header>
    
  </div> <!-- End bottom slide-->


  <div *ngIf="!officials">
    <div class="whitebg" style="padding: 5px 0 5px 5px">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let official of count">
          <ion-skeleton-text animated style="width: 100%; height: 65px" slot="start"></ion-skeleton-text>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  

</ion-content>