.top-slide img {
    border-radius: 1px;
}
.top-slide .swiper-container {
    margin-bottom: -5px !important;
}
.mid-slide img {
    border-radius: 5px;
}
ion-list-header {
    min-height: 30px;
    padding-left: 5px;
}
ion-label {
    letter-spacing: 0.5px;
    font-weight: bold;
    display: inherit;
}
ion-col.more {
    justify-content: flex-end;
    display: flex;
    padding-right: 5px;
    text-transform: capitalize;
}
ion-content {
    --background: #eee;
}
.whitebg {
    background-color: #fff;
}
span.bottomTitle {
    font-size: 14px;
    float: left;
}
.inner-card {
    position: absolute;
    font-size: 14px;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 6px;
    text-align: left;
    bottom: 4px;
}
